/* https://coolors.co/eee3f4-5e0b15-37393a-90323d-d9cab3 */

@media 
only screen and (max-width: 760px) {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
        white-space: nowrap;
    }
    
    h3 {
        display: none !important;
    }

    img {
        width: 100px;
        height: 220px;
    }
}

body {
    background-color: #FCDFA6;
    overflow-y:scroll;
}

nav {
    background-color: #CBE896;
    margin-bottom: 20px;
    font-family: "Bookman";
}

h1 {
    color: #757761;
    font-weight: 700!important;
}

a, p, h3, th, td, h4, li {
    color: #413C58;
    font-family: "Helvetica";
}

a#current-page {
    color: #7FB685;
}

.list-group-item {
    background-color: #F4B886;
}

.table {
    width: 90%;
}

